* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  height: 100vh;
  background-color: #eeeeee;
  display: flex;
  align-items: center;
  justify-content: center;
  background:url(
data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAFCAYAAACNbyblAAAAAXNSR0IArs4c6QAAACNJREFUGFdj7Onp+V9SUsLIgATAHHQJuApkCRRtMAkUQZhRAAH7EqmQXvH2AAAAAElFTkSuQmCC
   ) repeat;
}

#container {
  width: 66vh;
  height: 66vh;
  background-color: white;
  box-shadow: 10px 10px #1d1d1d;
}

main {
  background-color: white;
  box-shadow: 10px 10px #1d1d1d;
  padding: 1rem 1.618rem;
  width: 66ch;
}

ul.days {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: space-around;
}

.days li {
  /* margin: 0.6rem 1rem; */
}

a:any-link {
  text-decoration: none;
  color: blue;
}

a:hover {
  color: hotpink;
}
